/*
Générique
*/
body{
    font-family: 'Russo One', sans-serif;
    background-color: #454c52;
    color: #fff;
}

.nav{
   z-index: 999;
   nav {
   	line-height: 15vh;
   	background-color: transparent;
   	text-align: center;
   	width: 100%;
      ul {
      	list-style: none;
      	margin: 0;
      	padding: 0;
      	height: 15vh;
          li {
            margin-left: 9vh;
          	display: inline-block;
              a {
                text-decoration: none;
                padding: 0 0.2vh;
                font-size: 2.5vh;
                font-weight: lighter;
                text-align: center;
              }
              a:link, a:visited, a:active {
                color: #fff;
              }
              a:hover, a:focus {
              border-bottom: 0.3vh #72b53c solid;
              }
              a#current{
                color: #72b53c;
              }
              a#current:hover{
                color: #72b53c;
                border-bottom: 0.3vh #fff solid;
              }
          }
      }
   }
}

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    width: 100%;
    border-top: 1px solid #ababab;
    .col-md-3{
     line-height: 15vh;
      .logo_footer{
        width: 10vh ;
        height: 10vh ;
      }
    }
    .col-md-9{
        text-align: center;
        margin: auto;
        .foot_nav{
         line-height: 15vh;
         background-color: transparent;
         text-align: left;
           ul {
             list-style: none;
             margin: 0;
             padding: 0;
               li {
                 display: inline-block;
                   a {
                     margin-top: 9px;
                     margin-left: 30px;
                     color: #fff;
                     text-decoration: none;
                     line-height: inherit;
                     display: block;
                     text-align: center;
                   }
                   p{
                     font-weight: bold;
                     margin-left: 60px;
                   }
                   .ref{
                     font-size: 24px
                   }
               }
           }
        }
    }
}
.page-homepage{
    .header{
        .pageTitle{
            text-align: center;
            h1{
                color: #ffffff;
                font-family: 'Russo One', sans-serif;
                font-size: 9vh;
            }
        }
        .col-md-12{
          text-align: center;
            #logo{
                width: 75vh;
                height: 75vh ;
            }
        }
    }
    .introduction{
        .col-md-12{
            p{
                font-size: 26px;
                a{
                    color: #fff;
                }
            }
        }
    }
}
